@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");
/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css"); */
@import url("https://fonts.googleapis.com/css2?family=Scope+One&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Scope One", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.signup {
  display: flex;
  justify-content: center;
}

.signup {
  margin-top: 100px;
}

.empty {
  height: 300px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination ul {
  display: flex;
  list-style-type: none;
}
.radio {
  display: flex;
  flex-direction: row;
}
